/*
  Inspired by https://simplecss.org
  Minified by https://www.toptal.com/developers/cssminifier
  SRI hash calculated by https://beautifycode.net/sri-hash-generator
*/

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: monospace;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  color: #343332;
  font-size: 1.15rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: auto max-content auto;
  margin: 0;
}

body > * {
  grid-column: 2;
}

pre {
  white-space: pre-line;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
  line-height: 1.1;
}

a, a:visited {
  color: #0029e4;
}

li {
  list-style-type: "* ";
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
    background-color: #212121;
    color: #dcdcdc;
  }

  a, a:visited {
    color: #f5f7ff;
  }
}
